@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  color: var(--dark-grayish-violet);
  font-weight: 400;
}

.content-wrapper {
  max-width: 375px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

.button {
  border: 1px solid white;
  background-color: var(--dark-violet);
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.card {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.card-container {
  padding: 30px;
}
.grey-line {
  width: 50%;
  height: 2px;
  background-color: var(--grayish-blue);
  position: absolute;
  top: 5%;
  right: 25%;
}
.different {
  position: relative;
}

.h1-different {
  text-align: center;
  color: var(--very-dark-violet);
  font-size: 40px;
  padding-top: 90px;
  position: relative;
}

.h1-white {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.h1-work {
  color: white;
  text-align: center;
  font-size: 40px;
}
h3 {
  color: var(--very-dark-violet);
  padding-bottom: 20px;
}

header ul {
  display: none;
}
.humanizing {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  padding: 90px 30px;
  text-align: center;
  position: relative;
}

.icon {
  position: absolute;
  top: -90%;
  right: 40%;
}

img {
  display: block;
}

.left-patern {
  position: absolute;
  top: 0;
  left: 0%;
}
p {
  line-height: 1.5;
}
.patern-work {
  position: absolute;
  top: 0;
  right: 0;
}

.right-patern {
  position: absolute;
  right: 0%;
  bottom: -40%;
}
.work {
  border: 1px solid rgb(250, 165, 7);
  background-color: var(--dark-violet);
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  position: relative;
}
